@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background: linear-gradient(to right, #4b6cb7, #182848);
  color: #fff;
}

.container {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 20px;
}

.map,
.form {
  width: 48%;
}

.outline {
  fill: none;
  stroke: #1d2941;
  stroke-width: 1.5px;
}

.popup {

  flex-direction: column;
  padding: 20px;
  background-color: #1d2941;
  border: 1px solid #4b6cb7;
  z-index: 999;
  /*   position: absolute;
  top: 50;
  left: 100%; */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.feature {
  fill: #4b6cb7;
}

.mesh {
  fill: none;
  stroke: #3f557e;
  stroke-width: 0.5px;
  stroke-linejoin: round;
}

path {
  fill: #4b6cb7;
  stroke: #3f557e;
  stroke-width: 0.5px;
}

.county {
  fill: #6a8cc7;
  stroke: #3f557e;
  stroke-width: 0.5px;
  transition: fill 0.3s ease;
  /* Added transition for smoother color change */
}

.county:hover {
  fill: #ffa500 !important;
}

.county-label {
  font-size: 24px;
  fill: #fff;
  display: none;
  position: absolute;
  pointer-events: none;
  z-index: 9999;
  background-color: #1d2941;
  padding: 5px;
  border: 1px solid #4b6cb7;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-anchor: middle;
}

.form form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #6a8cc7;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #ffa500;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff8000;
}

#successMessage {
  margin-top: 10px;
  color: #4caf50;
  font-weight: bold;
}